@model IEnumerable<AppBootstrapSite1.Models.StaffList>
@{
    ViewBag.Title = "Userlist";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/datatables/dataTables.bootstrap.css" rel="stylesheet" />
@section scripts{
    <script src="~/Content/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/datatables/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#ctable').DataTable();

        });

    </script>
}
@section SideBar{
    <h4>
        <i class="icon-arrow-left52 position-left"></i>
        <span class="text-semibold">User</span> - List 
        <small class="display-block"><a href="@Url.Action("Create","MgtStaff")"><i class="icon-display4 position-left"></i> Add new User</a></small>
    </h4>
}



<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">List of User</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>

            </ul>
        </div>
    </div>

    <table class="table table-bordered table-hover datatable-highlight" id="ctable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th></th>
                <th></th>
             
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                  
                <td>@Html.ActionLink("Edit", "Edit", "MgtStaff", new { id = item.PersonnelKey }, null) </td>

               

                <td>@Html.ActionLink("Remove", "Delete", "MgtStaff", new { id = item.PersonnelKey }, new { onclick = "return confirm('Are you sure you want to Remove this?')" })</td>
            </tr>
            }
        </tbody>
    </table>
</div>
