
@*@{
    ViewBag.Title = "Uniform";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Uniform</h2>*@

@model AppBootstrapSite1.Models.DashBoardMenuContent
@{
    ViewBag.Title = "Uniform";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container marketing">


    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <h6 class="featurette-heading"><span class="text-muted">@Html.LabelFor(model => model.UniformHeading)</span></h6>
     

    <h6 class="featurette-heading"><span class="text-muted">@Html.LabelFor(model => model.UniformClassHeading)</span></h6>
    <p>@Html.LabelFor(model => model.UniformClassDetails, new { style = "color:#ffffff" })</p>

    <h6 class="featurette-heading"><span class="text-muted">@Html.LabelFor(model => model.UniformHostelHeading)</span></h6>
    <p>@Html.LabelFor(model => model.ClassAndHolidayScheduleHifzDetails, new { style = "color:#ffffff" })</p>
     
 

</div>



