@model AppBootstrapSite1.Models.StudentInfo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>StudentInfo</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentPhoto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentPhoto)
                @Html.ValidationMessageFor(model => model.StudentPhoto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentNameBangla, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentNameBangla)
                @Html.ValidationMessageFor(model => model.StudentNameBangla)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentNameEnglish, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentNameEnglish)
                @Html.ValidationMessageFor(model => model.StudentNameEnglish)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentNameArabic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentNameArabic)
                @Html.ValidationMessageFor(model => model.StudentNameArabic)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentDateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentDateOfBirth)
                @Html.ValidationMessageFor(model => model.StudentDateOfBirth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenderId, "GenderId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GenderId", String.Empty)
                @Html.ValidationMessageFor(model => model.GenderId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nationality)
                @Html.ValidationMessageFor(model => model.Nationality)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherNameBangla, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FatherNameBangla)
                @Html.ValidationMessageFor(model => model.FatherNameBangla)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherNameEnglish, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FatherNameEnglish)
                @Html.ValidationMessageFor(model => model.FatherNameEnglish)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherIsAlive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FatherIsAlive)
                @Html.ValidationMessageFor(model => model.FatherIsAlive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherOccupation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FatherOccupation)
                @Html.ValidationMessageFor(model => model.FatherOccupation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherMobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FatherMobile)
                @Html.ValidationMessageFor(model => model.FatherMobile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MotherNameBangla, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MotherNameBangla)
                @Html.ValidationMessageFor(model => model.MotherNameBangla)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MotherNameEnglish, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MotherNameEnglish)
                @Html.ValidationMessageFor(model => model.MotherNameEnglish)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MotherIsAlive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MotherIsAlive)
                @Html.ValidationMessageFor(model => model.MotherIsAlive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MotherMobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MotherMobile)
                @Html.ValidationMessageFor(model => model.MotherMobile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuardianName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuardianName)
                @Html.ValidationMessageFor(model => model.GuardianName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuardianOccupation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuardianOccupation)
                @Html.ValidationMessageFor(model => model.GuardianOccupation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuardianHouseNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuardianHouseNo)
                @Html.ValidationMessageFor(model => model.GuardianHouseNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuardianVillage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuardianVillage)
                @Html.ValidationMessageFor(model => model.GuardianVillage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuardianPostOffice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuardianPostOffice)
                @Html.ValidationMessageFor(model => model.GuardianPostOffice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuardianThana, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuardianThana)
                @Html.ValidationMessageFor(model => model.GuardianThana)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuardianDistrict, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuardianDistrict)
                @Html.ValidationMessageFor(model => model.GuardianDistrict)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RelationWithGuardian, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RelationWithGuardian)
                @Html.ValidationMessageFor(model => model.RelationWithGuardian)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YearlyIncomeGuardian, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YearlyIncomeGuardian)
                @Html.ValidationMessageFor(model => model.YearlyIncomeGuardian)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PermanentAddressHouse, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PermanentAddressHouse)
                @Html.ValidationMessageFor(model => model.PermanentAddressHouse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PermanentAddressVillage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PermanentAddressVillage)
                @Html.ValidationMessageFor(model => model.PermanentAddressVillage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PermanentAddressPostOffice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PermanentAddressPostOffice)
                @Html.ValidationMessageFor(model => model.PermanentAddressPostOffice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PermanentAddressThana, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PermanentAddressThana)
                @Html.ValidationMessageFor(model => model.PermanentAddressThana)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PermanentAddressDistrict, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PermanentAddressDistrict)
                @Html.ValidationMessageFor(model => model.PermanentAddressDistrict)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HonarablePersonNameInArea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HonarablePersonNameInArea)
                @Html.ValidationMessageFor(model => model.HonarablePersonNameInArea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreviousInstitutionName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreviousInstitutionName)
                @Html.ValidationMessageFor(model => model.PreviousInstitutionName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreviousInstitutionAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreviousInstitutionAddress)
                @Html.ValidationMessageFor(model => model.PreviousInstitutionAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreviousInstitutionClass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreviousInstitutionClass)
                @Html.ValidationMessageFor(model => model.PreviousInstitutionClass)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreviousInstitutionClearanceNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreviousInstitutionClearanceNo)
                @Html.ValidationMessageFor(model => model.PreviousInstitutionClearanceNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreviousInstitutionClearanceDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreviousInstitutionClearanceDate)
                @Html.ValidationMessageFor(model => model.PreviousInstitutionClearanceDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdmittedDepartmentId, "AdmittedDepartmentId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AdmittedDepartmentId", String.Empty)
                @Html.ValidationMessageFor(model => model.AdmittedDepartmentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAssign, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsAssign)
                @Html.ValidationMessageFor(model => model.IsAssign)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Brach, "Brach", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Brach", String.Empty)
                @Html.ValidationMessageFor(model => model.Brach)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
