<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/carousel.css")" rel="stylesheet">

    <link href="@Url.Content("~/css/docs.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/flag-icon.css")" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.Action("RenderMainMenu","Menu")
                        
                        
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @*<li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>*@

                            @Html.Action("AboutMadrashaMenu", "Menu")
                            @Html.Action("AcademicMenu", "Menu")
                            @Html.Action("AdministrationMenu", "Menu")
                            @Html.Action("FacultiesMenu", "Menu")
                            @Html.Action("AboutStudentMenu", "Menu")
                            @Html.Action("NoticeMenu", "Menu")
                            @Html.Action("ContactMenu", "Menu")

                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-1 col-sm-2 col-xs-3"><div class="flag-wrapper"><div class="img-thumbnail flag flag-icon-background flag-icon-gb" title="gb" id="gb">
                    @Html.ActionLink("En", "ChangeLanguage", "Home", new { lang = "En" }, null)
                 </div></div></div>
                <div class="col-md-1 col-sm-2 col-xs-3"><div class="flag-wrapper"><div class="img-thumbnail flag flag-icon-background flag-icon-sa" title="sa" id="sa">
                    @Html.ActionLink("Ar", "ChangeLanguage", "Home", new { lang = "Ar" }, null)
                    </div></div></div>
                <div class="col-md-1 col-sm-2 col-xs-3"><div class="flag-wrapper"><div class="img-thumbnail flag flag-icon-background flag-icon-bd" title="bd" id="bd">
                    @Html.ActionLink("Bn", "ChangeLanguage", "Home", new { lang = "Bn" }, null)
                    </div></div></div>
            </div>
        </div>
    </div>

    @RenderBody()

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("~/js/bootstrap.js")"></script>
</body>
</html>