
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academic Information<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Curriculum", "AademicInformation")">Curriculum/Syllabus</a></li>
        <li><a href="@Url.Action("ClassRoutine", "AademicInformation")">Class Routine</a></li>
        <li><a href="@Url.Action("ExaminationSchedule", "AademicInformation")">Examination Schedule</a></li>

        <li><a href="@Url.Action("Primary", "AademicInformation")">Primary Level </a></li>
        <li><a href="@Url.Action("Secondary", "AademicInformation")">Secondary Level</a></li>
        <li><a href="@Url.Action("HigherSecondary", "AademicInformation")">Higher Secondary Level</a></li>

        <li><a href="@Url.Action("HigherEducation", "AademicInformation")">Higher Education Level</a></li>
       
    </ul>

</li>




