<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">শিক্ষার্থী সংক্রান্ত<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("DressCode", "CampusLife")">শিক্ষার্থীদের পোশাক/ড্রেস কোড</a></li>
        <li><a href="@Url.Action("DailyMeal", "CampusLife")">খাদ্য তালিকা</a></li>
        <li><a href="@Url.Action("StudentRegulation", "CampusLife")">শিক্ষার্থীদের আচরণবিধি</a></li>
        <li><a href="@Url.Action("StudentResidentialConvention", "CampusLife")">শিক্ষার্থীদের আবাসিক নিয়মাবলী</a></li>
        <li><a href="@Url.Action("WeeklyPersonalTraining", "CampusLife")">সাপ্তাহিক ব্যক্তব্য প্রশিক্ষণ</a></li>
        <li><a href="@Url.Action("StudentLists", "CampusLife")">শিক্ষার্থী তালিকা</a></li>
    </ul>
</li>


