
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">একাডেমিক<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Courses", "Academic")">কোর্স সমূহ</a></li>
        <li><a href="@Url.Action("MonthlyExpenses", "Academic")">মাসিক খরচ</a></li>
        <li><a href="@Url.Action("Syllabus", "Academic")">সিলেবাস</a></li>
        <li><a href="@Url.Action("AcademicExam", "Academic")">পরীক্ষার নির্দেশিকা</a></li>
        <li><a href="@Url.Action("AcademicCalender", "Academic")">একাডেমিক ক্যালেন্ডার</a></li>
        <li><a href="@Url.Action("Result", "Academic")">প্রতিষ্ঠানিক ফলাফল</a></li>
    </ul>
</li>

