
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">أكاديميون<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Courses", "Academic")">الدورات</a></li>
        <li><a href="@Url.Action("MonthlyExpenses", "Academic")">رسوم</a></li>
        <li><a href="@Url.Action("Syllabus", "Academic")">المنهج</a></li>
        <li><a href="@Url.Action("AcademicExam", "Academic")">قواعد الامتحان</a></li>
        <li><a href="@Url.Action("AcademicCalender", "Academic")">التقويم الأكاديمي</a></li>
        <li><a href="@Url.Action("Result", "Academic")">النتائج</a></li>
    </ul>
</li>