
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Courses", "Academic")">Courses</a></li>
        <li><a href="@Url.Action("MonthlyExpenses", "Academic")">Fees</a></li>
        <li><a href="@Url.Action("Syllabus", "Academic")">Syllabus</a></li>
        <li><a href="@Url.Action("AcademicExam", "Academic")">Exam Rules</a></li>
        <li><a href="@Url.Action("AcademicCalender", "Academic")">Academic Calender</a></li>
        <li><a href="@Url.Action("Result", "Academic")">Results</a></li>
    </ul>
</li>
