

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">الأنشطة المصاحبة للمناهج الدراسية<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("TrainingForDeliveringSpeech", "CoCurricularActivities")">التدريب على إيصال الكلام </a></li>
        <li><a href="@Url.Action("QuranStudyAndResearchFourm", "CoCurricularActivities")">منتدى القرآن الكريم للدراسات والبحوث</a></li>
        <li><a href="@Url.Action("HadithStudyAndResearchFourm", "CoCurricularActivities")">الحديث الحديث ودراسة المنتدى </a></li>

        <li><a href="@Url.Action("DebatingClub", "CoCurricularActivities")">نادي المناظرة</a></li>
        <li><a href="@Url.Action("IslamicQuizClub", "CoCurricularActivities")">نادي مسابقة الإسلامية</a></li>
        <li><a href="@Url.Action("GeneralQuizClub", "CoCurricularActivities")">نادي مسابقة العام</a></li>

        <li><a href="@Url.Action("IslamicSongClub", "CoCurricularActivities")">نادي الأغاني الإسلامية</a></li>
         
    </ul>

</li>






