
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Co-Curricular activities<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("TrainingForDeliveringSpeech", "CoCurricularActivities")">Training for Delivering Speech </a></li>
        <li><a href="@Url.Action("QuranStudyAndResearchFourm", "CoCurricularActivities")">Quran Study and Research Forum</a></li>
        <li><a href="@Url.Action("HadithStudyAndResearchFourm", "CoCurricularActivities")">Hadith Study and Research Forum </a></li>

        <li><a href="@Url.Action("DebatingClub", "CoCurricularActivities")">Debating Club </a></li>
        <li><a href="@Url.Action("IslamicQuizClub", "CoCurricularActivities")">Islamic Quiz Club  </a></li>
        <li><a href="@Url.Action("GeneralQuizClub", "CoCurricularActivities")">General Quiz Club </a></li>

        <li><a href="@Url.Action("IslamicSongClub", "CoCurricularActivities")">Islamic Song’s Club</a></li>
         
    </ul>

</li>






