
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">আমাদের কথা<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("HistoryOfInstitution", "OurStory")">প্রতিষ্ঠানের ইতিহাস</a></li>
        <li><a href="@Url.Action("AtAGlance", "OurStory")">এক নজরে আল জামিয়াহ আস সালাফিয়াহ</a></li>
        <li><a href="@Url.Action("BordOfGovernor", "OurStory")">গভর্নরদের বোর্ড</a></li>

        <li><a href="@Url.Action("Location", "OurStory")">অবস্থান </a></li>
        <li><a href="@Url.Action("ListOfTeacherAndEmployee", "OurStory")">শিক্ষক ও কর্মচারীদের তালিকা</a></li>
        <li><a href="@Url.Action("Principal", "OurStory")">অধ্যক্ষ</a></li>

        <li><a href="@Url.Action("VicePrincipal", "OurStory")">উপাধ্যক্ষ</a></li>
        <li><a href="@Url.Action("TeacherOfHigherEducation", "OurStory")">উচ্চশিক্ষার শিক্ষকগণ</a></li>
        <li><a href="@Url.Action("TeacherOfSecondaryLabel", "OurStory")">মাধ্যমিক স্তরের শিক্ষক</a></li>

        <li><a href="@Url.Action("TeacherOfPrimaryLabel", "OurStory")">প্রাথমিক স্তরের শিক্ষক</a></li>
        <li><a href="@Url.Action("TeacherOfHifzBranch", "OurStory")">হিফজ শাখার শিক্ষক</a></li>
        <li><a href="@Url.Action("Employee", "OurStory")">কর্মচারী </a></li>
    </ul>

</li>

