

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">عن الجامعة السلفية<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("OurMadrasha", "AboutMadrasha")"> تاريخ الجامعة </a></li>
        <li><a href="@Url.Action("OurSuccess", "AboutMadrasha")">لمحة عن الجامعة </a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">مجلس الإدارة</a></li>

        <li><a href="@Url.Action("OurMadrasha", "AboutMadrasha")">موقعها </a></li>
        <li><a href="@Url.Action("OurSuccess", "AboutMadrasha")"> قائمة المدرسين والموظفين</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">المدير</a></li>

        <li><a href="@Url.Action("OurMadrasha", "AboutMadrasha")"> مساعد المدير  </a></li>
        <li><a href="@Url.Action("OurSuccess", "AboutMadrasha")">أعضاء هيئة التدريس للمرحلة الثانوية </a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">أعضاء هيئة التدريس للمرحلة المتوسطة </a></li>

        <li><a href="@Url.Action("OurMadrasha", "AboutMadrasha")">أعضاء هيئة التدريس للمرحلة الابتدائية  </a></li>
        <li><a href="@Url.Action("OurSuccess", "AboutMadrasha")"> أعضاء هيئة التدريس لقسم تحفيظ القرآن الكريم </a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">الموظفون</a></li>

    </ul>

</li>
