
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our story<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("HistoryOfInstitution", "OurStory")">History of the institution</a></li>
        <li><a href="@Url.Action("AtAGlance", "OurStory")">At a glance Al-Jami’ah As-Salafiyah</a></li>
        <li><a href="@Url.Action("BordOfGovernor", "OurStory")">Board of Governor’s </a></li>

        <li><a href="@Url.Action("Location", "OurStory")">Location </a></li>
        <li><a href="@Url.Action("ListOfTeacherAndEmployee", "OurStory")">List of teachers and employees</a></li>
        <li><a href="@Url.Action("Principal", "OurStory")">The Principal</a></li>

        <li><a href="@Url.Action("VicePrincipal", "OurStory")">The Vice-Principal </a></li>
        <li><a href="@Url.Action("TeacherOfHigherEducation", "OurStory")">Teachers of Higher Education</a></li>
        <li><a href="@Url.Action("TeacherOfSecondaryLabel", "OurStory")">Teachers of Secondary Level</a></li>

        <li><a href="@Url.Action("TeacherOfPrimaryLabel", "OurStory")">Teachers of Primary Level</a></li>
        <li><a href="@Url.Action("TeacherOfHifzBranch", "OurStory")">Teachers of Hifz Branch</a></li>
        <li><a href="@Url.Action("Employee", "OurStory")">Employees </a></li>
    </ul>

</li>

