
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">আমাদের কথা<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("OurMadrasha", "AboutMadrasha")">প্রতিষ্ঠানের ইতিহাস</a></li>
        <li><a href="@Url.Action("OurSuccess", "AboutMadrasha")">এক নজরে আল জামিয়াহ আস সালাফিয়াহ</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">গভর্নরদের বোর্ড</a></li>

        <li><a href="@Url.Action("OurMadrasha", "AboutMadrasha")">অবস্থান </a></li>
        <li><a href="@Url.Action("OurSuccess", "AboutMadrasha")">শিক্ষক ও কর্মচারীদের তালিকা</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">অধ্যক্ষ</a></li>

        <li><a href="@Url.Action("OurMadrasha", "AboutMadrasha")">উপাধ্যক্ষ</a></li>
        <li><a href="@Url.Action("OurSuccess", "AboutMadrasha")">উচ্চশিক্ষার শিক্ষকগণ</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">মাধ্যমিক স্তরের শিক্ষক</a></li>

        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">প্রাথমিক স্তরের শিক্ষক</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">হিফজ শাখার শিক্ষক</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">কর্মচারী </a></li>
    </ul>

</li>

