

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">عن الجامعة السلفية<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("HistoryOfInstitution", "OurStory")"> تاريخ الجامعة </a></li>
        <li><a href="@Url.Action("AtAGlance", "OurStory")">لمحة عن الجامعة </a></li>
        <li><a href="@Url.Action("BordOfGovernor", "OurStory")">مجلس الإدارة</a></li>

        <li><a href="@Url.Action("Location", "OurStory")">موقعها </a></li>
        <li><a href="@Url.Action("ListOfTeacherAndEmployee", "OurStory")"> قائمة المدرسين والموظفين</a></li>
        <li><a href="@Url.Action("Principal", "OurStory")">المدير</a></li>

        <li><a href="@Url.Action("VicePrincipal", "OurStory")"> مساعد المدير  </a></li>
        <li><a href="@Url.Action("TeacherOfHigherEducation", "OurStory")">أعضاء هيئة التدريس للمرحلة الثانوية </a></li>
        <li><a href="@Url.Action("TeacherOfSecondaryLabel", "OurStory")">أعضاء هيئة التدريس للمرحلة المتوسطة </a></li>

        <li><a href="@Url.Action("TeacherOfPrimaryLabel", "OurStory")">أعضاء هيئة التدريس للمرحلة الابتدائية  </a></li>
        <li><a href="@Url.Action("TeacherOfHifzBranch", "OurStory")"> أعضاء هيئة التدريس لقسم تحفيظ القرآن الكريم </a></li>
        <li><a href="@Url.Action("Employee", "OurStory")">الموظفون</a></li>

    </ul>

</li>
