
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our story<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("OurMadrasha", "AboutMadrasha")">History of the institution</a></li>
        <li><a href="@Url.Action("OurSuccess", "AboutMadrasha")">At a glance Al-Jami’ah As-Salafiyah</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">Board of Governor’s </a></li>

        <li><a href="@Url.Action("OurMadrasha", "AboutMadrasha")">Location </a></li>
        <li><a href="@Url.Action("OurSuccess", "AboutMadrasha")">List of teachers and employees</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">The Principal</a></li>

        <li><a href="@Url.Action("OurMadrasha", "AboutMadrasha")">The Vice-Principal </a></li>
        <li><a href="@Url.Action("OurSuccess", "AboutMadrasha")">Teachers of Higher Education</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">Teachers of Secondary Level</a></li>

        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">Teachers of Primary Level</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">Teachers of Hifz Branch</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">Employees </a></li>
    </ul>

</li>

