

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prizes and Achievements<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Primary", "PrizesAndAchievements")">Primary Education Competence</a></li>
        <li><a href="@Url.Action("JuniourDakhil", "PrizesAndAchievements")">Junior Dakhil Certificate </a></li>
        <li><a href="@Url.Action("Dakhil", "PrizesAndAchievements")">Dakhil </a></li>
        <li><a href="@Url.Action("Alim", "PrizesAndAchievements")">Alim  </a></li>
        <li><a href="@Url.Action("Hounors", "PrizesAndAchievements")">Honours   </a></li>
        <li><a href="@Url.Action("Masters", "PrizesAndAchievements")">Masters   </a></li>
    </ul>
</li>

