
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">নিয়ম এবং প্রবিধান<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Discipline", "RulesAndRegulation")">শৃঙ্খলা </a></li>
        <li><a href="@Url.Action("ClassAndHoliDaySchedule", "RulesAndRegulation")">ক্লাস এবং হলিডে সূচি </a></li>
        <li><a href="@Url.Action("Uniform", "RulesAndRegulation")">পোশাক </a></li>

        <li><a href="@Url.Action("ListOfExam", "RulesAndRegulation")">পরীক্ষার তালিকা  </a></li>
        <li><a href="@Url.Action("MonthlyFees", "RulesAndRegulation")">মাসিক ফি প্রদান </a></li>
        <li><a href="@Url.Action("OtherFees", "RulesAndRegulation")">অন্যান্য ফি প্রদান</a></li>

        <li><a href="@Url.Action("Fine", "RulesAndRegulation")">জরিমানা</a></li>

    </ul>

</li>






