
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Special events<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("TrainingAndSeminar", "SpecialEvents")">Training and Seminars </a></li>
        <li><a href="@Url.Action("GamesAndSports", "SpecialEvents")">Games and sports</a></li>
        <li><a href="@Url.Action("Picnic", "SpecialEvents")">Excursion and Picnic</a></li>

        <li><a href="@Url.Action("Farewell", "SpecialEvents")">Reception of New Comers and Farewell</a></li>
        <li><a href="@Url.Action("FestivalReception", "SpecialEvents")">Renovation and festivity reception</a></li>
        <li><a href="@Url.Action("QuranMahfil", "SpecialEvents")">Anniversary Waz or Tafsirul Quran Mahfil / Islamic Conference</a></li>


    </ul>

</li>







