

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">أحداث خاصة<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("TrainingAndSeminar", "SpecialEvents")">التدريب والحلقات الدراسية</a></li>
        <li><a href="@Url.Action("GamesAndSports", "SpecialEvents")">ألعاب والرياضة</a></li>
        <li><a href="@Url.Action("Picnic", "SpecialEvents")">نزهة والنزهة </a></li>

        <li><a href="@Url.Action("Farewell", "SpecialEvents")">استقبال القادمين الجدد وداع</a></li>
        <li><a href="@Url.Action("FestivalReception", "SpecialEvents")">تجديد واستقبال الاحتفالات</a></li>
        <li><a href="@Url.Action("QuranMahfil", "SpecialEvents")">ذكرى واز أو تفسير القرآن الكريم محفل / المؤتمر الإسلامي</a></li>

        

    </ul>

</li>







