

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ছাত্রের পরিচয়<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("PresentAndAbsence", "StudentsIdentity")">বর্তমান এবং অনুপস্থিতি</a></li>
        <li><a href="@Url.Action("StudentIdentityAndPassword", "StudentsIdentity")">ছাত্র আইডেন্টিটি এবং পাসওয়ার্ড</a></li>
        <li><a href="@Url.Action("ApplicationForLeaveOfAbsent", "StudentsIdentity")">অনুপস্থিতির জন্য আবেদন </a></li>

        <li><a href="@Url.Action("ApplicationForRenuwalIDCard", "StudentsIdentity")">পরিচয় পত্রের পুনর্নবীকরণ জন্য আবেদন</a></li>
        <li><a href="@Url.Action("ApplicationForResettlement", "StudentsIdentity")">শিক্ষার্থীর পরিচয় পুনর্বাসন জন্য আবেদন</a></li>
        <li><a href="@Url.Action("ApplicationForRecheckAnswerSheet", "StudentsIdentity")">উত্তর স্ক্রিপ্ট পুনর্বিবেচনা জন্য আবেদন</a></li>

        <li><a href="@Url.Action("ApplicationForCorrectionNameAndDateOfBirth", "StudentsIdentity")">নাম এবং জন্ম তারিখ সংশোধনের জন্য আবেদন</a></li>
        <li><a href="@Url.Action("VottingForFoodAndOther", "StudentsIdentity")">ভোক্তাদের ভোটিং এবং খাদ্য ও অন্যান্য 'মান উন্নত করার জন্য তাদের মতামত</a></li>
    </ul>

</li>





