
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student's identity<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("PresentAndAbsence", "StudentsIdentity")">Present and Absence </a></li>
        <li><a href="@Url.Action("StudentIdentityAndPassword", "StudentsIdentity")">Student Identity and password</a></li>
        <li><a href="@Url.Action("ApplicationForLeaveOfAbsent", "StudentsIdentity")">Application for Leave of Absence </a></li>

        <li><a href="@Url.Action("ApplicationForRenuwalIDCard", "StudentsIdentity")">Application for Renewal of Identity Card</a></li>
        <li><a href="@Url.Action("ApplicationForResettlement", "StudentsIdentity")">Application for Resettlement of Student’s Identity </a></li>
        <li><a href="@Url.Action("ApplicationForRecheckAnswerSheet", "StudentsIdentity")">Application for Recheck of Answer Script</a></li>

        <li><a href="@Url.Action("ApplicationForCorrectionNameAndDateOfBirth", "StudentsIdentity")">Application for Amendment of Name and Date of Birth</a></li>
        <li><a href="@Url.Action("VottingForFoodAndOther", "StudentsIdentity")">Voting of The Students and Their Feedback for Enhancing Foods and Others’ standard</a></li>
    </ul>

</li>





