
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">هوية الطالب<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("PresentAndAbsence", "StudentsIdentity")">الحاضر والغياب </a></li>
        <li><a href="@Url.Action("StudentIdentityAndPassword", "StudentsIdentity")">هوية الطالب وكلمة المرور</a></li>
        <li><a href="@Url.Action("ApplicationForLeaveOfAbsent", "StudentsIdentity")">طلب إجازة غياب</a></li>

        <li><a href="@Url.Action("ApplicationForRenuwalIDCard", "StudentsIdentity")">طلب تجديد بطاقة الهوية</a></li>
        <li><a href="@Url.Action("ApplicationForResettlement", "StudentsIdentity")">طلب إعادة توطين هوية الطالب</a></li>
        <li><a href="@Url.Action("ApplicationForRecheckAnswerSheet", "StudentsIdentity")">تطبيق لإعادة فحص النص البرمجي الإجابة</a></li>

        <li><a href="@Url.Action("ApplicationForCorrectionNameAndDateOfBirth", "StudentsIdentity")">طلب تعديل الاسم وتاريخ الميلاد</a></li>
        <li><a href="@Url.Action("VottingForFoodAndOther", "StudentsIdentity")">التصويت من الطلاب وردود الفعل الخاصة بهم لتعزيز الأغذية وغيرها 'القياسية</a></li>
    </ul>

</li>





