@model IEnumerable<AppBootstrapSite1.Models.Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyWebsite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyFax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPersonNo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogoType)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.IsDelete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZIPKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyWebsite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyFax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPersonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPersonNo)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogoType)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.IsDelete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZIPKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyKey }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyKey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyKey })
        </td>
    </tr>
}

</table>
