@model AppBootstrapSite1.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-body login-form">
        <div class="text-center">
            <h5 class="content-group-lg">JAMIYAH Login to your account <small class="display-block">Enter your credentials</small></h5>
        </div>
        <div class="form-group has-feedback has-feedback-left">

            @Html.TextBoxFor(model => model.Username, new { @placeholder = "Username", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            @Html.PasswordFor(model => model.Password, new { @placeholder = "Password", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
            </div>
        </div>
        <div class="form-group login-options">
            <div class="row">
                <div class="col-sm-6">
                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(model => model.RememberMe, new { @checked = "checked", @class = "styled" })

                        Remember
                    </label>
                </div>

            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn bg-blue-400 btn-block">Login <i class="icon-arrow-right14 position-right"></i></button>
            <br />
            @*<a href="@Url.Action("UserLogin","Home")"><i class="icon-switch2"></i> User</a>*@
        </div>

    </div>
}



